In [19]:
import pandas as pd
import numpy as np 

import seaborn as sns 
import matplotlib.pylab as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from scipy.stats import norm
from scipy import stats

df=pd.DataFrame(columns=['col1','col2','col3'],index=['i1','i2','i3','i4','i5'],data=[
    [1,2,3],
    [4,5,6],
    [8,8,8],
    [9,9,9],
    [9,8,8],
])

df

    col1  col2  col3
i1     1     2     3
i2     4     5     6
i3     8     8     8
i4     9     9     9
i5     9     8     8

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, i1 to i5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      int64
 1   col2    5 non-null      int64
 2   col3    5 non-null      int64
dtypes: int64(3)
memory usage: 160.0+ bytes

In [21]:
df.describe()

           col1      col2      col3
count  5.000000  5.000000  5.000000
mean   6.200000  6.400000  6.800000
std    3.563706  2.880972  2.387467
min    1.000000  2.000000  3.000000
25%    4.000000  5.000000  6.000000
50%    8.000000  8.000000  8.000000
75%    9.000000  8.000000  8.000000
max    9.000000  9.000000  9.000000

In [23]:
df.value_counts("col1",sort=False) # count values and return a df about all elements and their counts

col1
1    1
4    1
8    1
9    2
Name: count, dtype: int64

In [ ]:
# use sns.pairplot() to spot the outliers