In [3]:
import numpy as np
import pandas as pd

from mlToolBox import *

dfPath="../datasets/zomato_dataset.csv"
df=pd.read_csv(dfPath)
df.head(2)

,Restaurant Name,Rating,Cuisine,Average Price,Average Delivery Time,Safety Measure,Location
0,Campus Bakers,4.3,"Bakery, Fast Food, Pizza, Sandwich, Burger",₹50 for one,36 min,Restaurant partner follows WHO protocol,Agra
1,Mama Chicken Mama Franky House,4,"North Indian, Mughlai, Rolls, Burger, Momos",₹50 for one,22 min,Follows all Max Safety measures to ensure your...,Agra

In [9]:
print(separator('?',3.1,noprint=True))

TypeError: Argument Type Error in one of them: <class 'str'>==str? / <class 'float'>==int?

In [18]:
def test(arg1=1, arg2=2):
    return arg1

test.__code__.co_varnames

('arg1', 'arg2')

In [20]:
type(type)

type