In [2]:
from fynns_tool_model_v2_0 import *
df = pd.DataFrame({'color': ['Red', 'Green', 'Green','Green', 'Red', 'Green'],'int_gone_bad':[1,0,np.nan,0,0,0],'taste': ['Sweet', 'Sweet','Sweet', 'Sour', 'Sweet','Sour'], 'size': [
                  'Big', 'Big', 'Small', 'Medium',np.nan, 'Small'], 'int_size': [7, 8, 2, 5,4, np.nan]})
X=df[['color','int_size','size','int_gone_bad']]
y=df['taste']
X

   color  int_size    size  int_gone_bad
0    Red       7.0     Big           1.0
1  Green       8.0     Big           0.0
2  Green       2.0   Small           NaN
3  Green       5.0  Medium           0.0
4    Red       4.0     NaN           0.0
5  Green       NaN   Small           0.0

In [3]:
X,y=cleanData(X,y)
X

        numColsimputeStrategy: mean
        catColsimputeStrategy: most_frequent
        encoderName: oe
        handle_unknown: error


        numColsX: ['int_size', 'int_gone_bad']
        catColsX: ['color', 'size']

   int_size  int_gone_bad  color  size
0       7.0           1.0    1.0   0.0
1       8.0           0.0    0.0   0.0
2       2.0           0.2    0.0   2.0
3       5.0           0.0    0.0   1.0
4       4.0           0.0    1.0   0.0
5       5.2           0.0    0.0   2.0

In [4]:
fitModel(train_test_split(X,y),cv=2)

Found ytrain,ytest as np.ndarray type, reshaping -1 into pd.Series.

        Successfully create model: RandomForestRegressor

y_pred:[0.43 0.08];
y_true:
0    1.0
1    1.0
dtype: float64

(RandomForestRegressor(),
 {'score': 0.0, 'mae_score': 0.7450000000000001, 'cv_score': array([1., 1.])})